[Unit]
Description=Job that runs your user script
After=network.target auditd.service

[Service]
ExecStart=rbd map lv0 -p blk_data
Type=oneshot
RemainAfterExit=yes
Restart=on-failure

[Install]
WantedBy = multi-user.target